@page
@model A2.TwitterClone.UI.DeleteUserModel
@{
    ViewData["Title"] = "DeleteUser";
}

<h1>DeleteUser</h1>
<div>
    <h2 style="font:300;font-weight:bold">You are about to delete your user profile. This will delete all your tweets also</h2>
    <form asp-action="post">
        <input class="link-button" type="submit" value="Yes delete"/>
    </form>
</div>

