@page
@model A2.TwitterClone.UI.FollowingModel
@{
    ViewData["Title"] = "Following";
}

<h1>Following</h1>
<form method="post">
    <table width="100%">
        @foreach (var item in Model.FollowingViewModels)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    <input class="link-button" type="submit" asp-route-userId="@item.UserId" asp-route-tAction="@item.Action"
                           asp-page-handler="ManageFollow" 
                           value="@item.Action" />
                </td>
            </tr>
        }
    </table>
</form>
