@page
@model A2.TwitterClone.UI.ModifyUserModel
@{
    ViewData["Title"] = "ModifyUser";
}


<form id="ModifyUser" asp-action="post">
    <div asp-validation-summary="All"></div>
    <div class="login-container">
        <label class="content-header"> ModifyUser</label><br />
        <br />
        <table>
            <tr>
                <td><label asp-for="User">User Name</label></td>
                <td><input asp-for="UserName" /></td>
            </tr>
            <tr>
                <span asp-validation-for="UserName"></span>
            </tr>
            <tr>
                <td><label asp-for="Email">Email</label></td>
                <td><input asp-for="Email" readonly="readonly" /></td>
            </tr>
            <tr>
                <td><label asp-for="MobileNumber">Mobile</label></td>
                <td> <input asp-for="MobileNumber" readonly="readonly" /></td>
            </tr>
        </table><br />

        <input class="link-button" type="submit" value="Modify User" />
    </div>
</form>

