@page
@model A2.TwitterClone.UI.TweetModel
@{
    ViewData["Title"] = "Tweet";
}

<h1>Tweet</h1><br />

<div style="align-items:center"><a asp-page="./AddTweet">Add Tweet</a></div>
<table style="width:70%;">
    @foreach (var tweet in Model.TweetsByUser)
    {
    <tr width="90%">
        <td style="border: 1px ridge; border-collapse: separate; border-color: cornflowerblue">
            @tweet.Squeeks
        </td>
        <td width="1%">
            <a class="link-button" asp-page="./EditTweet" asp-route-tweetId="@tweet.Id">Edit</a>
      
        </td>
        <td width="1%">
            <a class="link-button" asp-page="./DeleteTweet" asp-route-tweetId="@tweet.Id">Delete</a>
            <br />
        </td>
    </tr>
    <tr/>
    }
   
</table>
