@page
@model A2.TwitterClone.UI.LoginModel
@{
    ViewData["Title"] = "Login";
}


<form id="Register" asp-action="post">
    <div  asp-validation-summary="All"></div>
    <div class="login-container">
        <label class="content-header"> Login</label><br />
        <br />
        <table>
            <tr>
                <td><label asp-for="User">UserName/Email</label></td>
                <td><input asp-for="UserName" /></td>
            </tr>
            <tr>
                <span asp-validation-for="UserName"></span>
            </tr>
            <tr>
                <td><label asp-for="Password">Password</label></td>
                <td><input asp-for="Password" /></td>
            </tr>
            <tr>
                <span asp-validation-for="Password"></span>
            </tr>
        </table>
        <br />
        <input class="link-button" type="submit" value="Login User" />
    </div>
</form>

