@page
@model A2.TwitterClone.UI.RegisterModel
@{
    ViewData["Title"] = "RegisterLogin";
}


    <div class="login-container">
        <label class="content-header"> Regsiter</label><br />
        <br />
        
        <form id="Register" asp-action="post">
            <div asp-validation-summary="All"></div>
            <div>
                <table>
                    <tr>
                        <td><label asp-for="User">User Name</label></td>
                        <td><input asp-for="UserName" /></td>
                        <td><span asp-validation-for="UserName"></span></td>
                    </tr>

                    <tr>
                        <td><label asp-for="Email">Email</label></td>
                        <td><input asp-for="Email" /></td>
                        <td><span asp-validation-for="Email"></span></td>
                    </tr>
                    <tr>
                        <td> <label asp-for="MobileNumber">Mobile Nummber</label></td>
                        <td><input asp-for="MobileNumber" /></td>
                        <td><span asp-validation-for="MobileNumber"></span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="Password">Password</label></td>
                        <td><input asp-for="Password" /></td>
                        <td> <span asp-validation-for="Password"></span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="ConfirmPassword">Confirm Password</label></td>
                        <td><input asp-for="ConfirmPassword" /></td>
                        <td><span asp-validation-for="ConfirmPassword"></span></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <input type="submit" value="Create User" />
                        </td>
                    </tr>
                </table>














                <br />

            </div>

        </form>
    </div>
